*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.section-container{
   
    height: 50vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    


    text-align: center;
    

}

.item{
    width: 100%;
    
    border:1px solid  black;
    

    
}

h1{
    padding: 20px;
    font-size:1.3rem;
    font-family: Arial, Helvetica, sans-serif;


}
input{
    margin-bottom: 10px;
}

.todos{
    background-color: rgb(70, 68, 68);
    width: 50px;
}

ul{

    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:10px;
    flex-wrap: wrap;


    
    
}

li{
    border: solid 1px black;
    text-align: center;
    width:60%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    font-size: 0.9rem;
}

.input-task{
    display: flex;
    
    justify-content: center;



    gap: 2px;
}


input{
    outline: none;
    border: solid black 1px;

    margin-left: 43px;

    width:60%;
    height: 38px;

    padding: 5px;

}

button{
    height: 38px;
    visibility: hidden;
}

.switch{
    display: none;
}

@media only screen and (max-width:741px){
    #QII, #QIII, #QIV{
       display: none; 
    }

    #QI{
        height: 100vh;
    }

    li,input{
        width: 70%;
    }

    button{
        visibility: visible;
    }

    .switch{
        display: flex;
        
        align-items: center;
        justify-content: center;

        background-color: blue;
        border: solid 1px black;
        border-radius: 50%;
        width: 30px;
        height: 30px;

        position: absolute;
        bottom: 30px;
        left: 500px;
        
    }

    
}
