*{

    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;


    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap ;
    max-width: 80%;
    gap:10px;
 
    
}

section{
    border: 3px solid oklch(44.2% 0.017 285.786);
    display: flex;
    flex-basis: 250px;
    flex-grow: 1;
    flex-direction: column;

}

ul{
    margin:30px;
}

.salary{
    display: flex;
    align-items: center;    

}

h2{
    font-size: 2rem;
        text-align: center;

    background-color: oklch(55.6% 0 0);
    color: #fff;

    padding: 10px;

}

h3{
    margin:20px;
    background-color: oklch(84.1% 0.238 128.85);
    color: #fff;
    padding: 3px;
    border-radius: 3px;
}

section:nth-child(3) h2{
    background-color: #6b129b;
}